extends ../layout
block content
  h1 Alumnos
  p
    a(href="/alumnos/create") Agregar alumno
  p

    a(href="/alumnos/buscar") Buscar alumno por rut
  -if(alumnos.length > 0)
    table
      thead
        tr
          th Nombre
          th Apellido
          th Rut
          th Carrera
          th
          th
          th
          th
          th
      tbody
        -each item in alumnos
          tr
            td #{item.nombre}
            td #{item.apellido}
            td #{item.rut}
            td #{item.carrera]
            td 
              a(href="/alumnoss/#{item._id}") Ver
            td 
              a(href="/alumnos/#{item._id}/edit") Editar
            td
              form(method="post", action="/alumnos/#{item._id}")
                input(type="hidden", name="_method", value="DELETE")
                a(href="javascript:void(0);", onclick="if(confirm('¿Está seguro que desea eliminar este registro?')){this.parentNode.submit();}") Eliminar
            
  -else
    p No hay alumnos